WebContent/wsdl/GetDeliveryListByDNService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.otracking.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.otracking.com" xmlns:intf="http://webservice.otracking.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.otracking.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getDeliverylistByDN">
    <complexType>
     <sequence>
      <element name="dn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDeliverylistByDNResponse">
    <complexType>
     <sequence>
      <element name="getDeliverylistByDNReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getDeliverylistByDNRequest">

      <wsdl:part element="impl:getDeliverylistByDN" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDeliverylistByDNResponse">

      <wsdl:part element="impl:getDeliverylistByDNResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GetDeliveryListByDNService">

      <wsdl:operation name="getDeliverylistByDN">

         <wsdl:input message="impl:getDeliverylistByDNRequest" name="getDeliverylistByDNRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDeliverylistByDNResponse" name="getDeliverylistByDNResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GetDeliveryListByDNServiceSoapBinding" type="impl:GetDeliveryListByDNService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getDeliverylistByDN">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDeliverylistByDNRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDeliverylistByDNResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GetDeliveryListByDNServiceService">

      <wsdl:port binding="impl:GetDeliveryListByDNServiceSoapBinding" name="GetDeliveryListByDNService">

         <wsdlsoap:address location="http://localhost:8080/Otracking/services/GetDeliveryListByDNService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
