WebContent/wsdl/GetEasergyPositionListService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.otracking.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.otracking.com" xmlns:intf="http://webservice.otracking.com" xmlns:tns2="http://bean.otracking.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.otracking.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bean.otracking.com"/>
   <element name="getEasergyPositionList">
    <complexType>
     <sequence>
      <element name="easergyPosition" type="tns2:EasergyPosition"/>
     </sequence>
    </complexType>
   </element>
   <element name="getEasergyPositionListResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getEasergyPositionListReturn" type="tns2:EasergyPosition"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://bean.otracking.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="EasergyPosition">
    <sequence>
     <element name="aop" nillable="true" type="xsd:string"/>
     <element name="assembly_position" nillable="true" type="xsd:string"/>
     <element name="customer_id" nillable="true" type="xsd:string"/>
     <element name="easergy_id" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:int"/>
     <element name="model" nillable="true" type="xsd:string"/>
     <element name="sequence" nillable="true" type="xsd:string"/>
     <element name="so_item" nillable="true" type="xsd:string"/>
     <element name="zbrn32_imput_port" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getEasergyPositionListRequest">

      <wsdl:part element="impl:getEasergyPositionList" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEasergyPositionListResponse">

      <wsdl:part element="impl:getEasergyPositionListResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GetEasergyPositionListService">

      <wsdl:operation name="getEasergyPositionList">

         <wsdl:input message="impl:getEasergyPositionListRequest" name="getEasergyPositionListRequest">

       </wsdl:input>

         <wsdl:output message="impl:getEasergyPositionListResponse" name="getEasergyPositionListResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GetEasergyPositionListServiceSoapBinding" type="impl:GetEasergyPositionListService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getEasergyPositionList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEasergyPositionListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getEasergyPositionListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GetEasergyPositionListServiceService">

      <wsdl:port binding="impl:GetEasergyPositionListServiceSoapBinding" name="GetEasergyPositionListService">

         <wsdlsoap:address location="http://localhost:8080/Otracking/services/GetEasergyPositionListService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
