WebContent/wsdl/GetMOPackageInfoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.otracking.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.otracking.com" xmlns:intf="http://webservice.otracking.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.otracking.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getZXDInfoByMO">
    <complexType>
     <sequence>
      <element name="mo" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getZXDInfoByMOResponse">
    <complexType>
     <sequence>
      <element name="getZXDInfoByMOReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getZXDInfoByMOResponse">

      <wsdl:part element="impl:getZXDInfoByMOResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getZXDInfoByMORequest">

      <wsdl:part element="impl:getZXDInfoByMO" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GetMOPackageInfoService">

      <wsdl:operation name="getZXDInfoByMO">

         <wsdl:input message="impl:getZXDInfoByMORequest" name="getZXDInfoByMORequest">

       </wsdl:input>

         <wsdl:output message="impl:getZXDInfoByMOResponse" name="getZXDInfoByMOResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GetMOPackageInfoServiceSoapBinding" type="impl:GetMOPackageInfoService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getZXDInfoByMO">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getZXDInfoByMORequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getZXDInfoByMOResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GetMOPackageInfoServiceService">

      <wsdl:port binding="impl:GetMOPackageInfoServiceSoapBinding" name="GetMOPackageInfoService">

         <wsdlsoap:address location="http://localhost:8080/Otracking/services/GetMOPackageInfoService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
