WebContent/wsdl/GetPMInfoBySOService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.otracking.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.otracking.com" xmlns:intf="http://webservice.otracking.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.otracking.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getPMInfoBySO">
    <complexType>
     <sequence>
      <element name="so" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPMInfoBySOResponse">
    <complexType>
     <sequence>
      <element name="getPMInfoBySOReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getPMInfoBySOResponse">

      <wsdl:part element="impl:getPMInfoBySOResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPMInfoBySORequest">

      <wsdl:part element="impl:getPMInfoBySO" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GetPMInfoBySOService">

      <wsdl:operation name="getPMInfoBySO">

         <wsdl:input message="impl:getPMInfoBySORequest" name="getPMInfoBySORequest">

       </wsdl:input>

         <wsdl:output message="impl:getPMInfoBySOResponse" name="getPMInfoBySOResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GetPMInfoBySOServiceSoapBinding" type="impl:GetPMInfoBySOService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getPMInfoBySO">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPMInfoBySORequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPMInfoBySOResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GetPMInfoBySOServiceService">

      <wsdl:port binding="impl:GetPMInfoBySOServiceSoapBinding" name="GetPMInfoBySOService">

         <wsdlsoap:address location="http://localhost:8080/Otracking/services/GetPMInfoBySOService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
