WebContent/wsdl/LoopLabelService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.otracking.com" xmlns:intf="http://webservice.otracking.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservice.otracking.com">
  
  <!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
   
  <wsdl:types>
      
    <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://webservice.otracking.com">
         
      <element name="importBom">
            
        <complexType>
               
          <sequence>
                  
            <element name="mo_name" type="xsd:string"/>
                  
            <element name="authentication" type="xsd:string"/>
                 
          </sequence>
              
        </complexType>
           
      </element>
         
      <element name="importBomResponse">
            
        <complexType>
               
          <sequence>
                  
            <element name="importBomReturn" type="xsd:int"/>
                 
          </sequence>
              
        </complexType>
           
      </element>
        
    </schema>
     
  </wsdl:types>
     
  <wsdl:message name="importBomRequest">
          
    <wsdl:part element="impl:importBom" name="parameters">

      </wsdl:part>
       
  </wsdl:message>
     
  <wsdl:message name="importBomResponse">
          
    <wsdl:part element="impl:importBomResponse" name="parameters">

      </wsdl:part>
       
  </wsdl:message>
     
  <wsdl:portType name="LoopLabelService">
          
    <wsdl:operation name="importBom">
               
      <wsdl:input message="impl:importBomRequest" name="importBomRequest">

       </wsdl:input>
               
      <wsdl:output message="impl:importBomResponse" name="importBomResponse">

       </wsdl:output>
            
    </wsdl:operation>
       
  </wsdl:portType>
     
  <wsdl:binding name="LoopLabelServiceSoapBinding" type="impl:LoopLabelService">
          
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
          
    <wsdl:operation name="importBom">
               
      <wsdlsoap:operation soapAction=""/>
               
      <wsdl:input name="importBomRequest">
                    
        <wsdlsoap:body use="literal"/>
                 
      </wsdl:input>
               
      <wsdl:output name="importBomResponse">
                    
        <wsdlsoap:body use="literal"/>
                 
      </wsdl:output>
            
    </wsdl:operation>
       
  </wsdl:binding>
     
  <wsdl:service name="LoopLabelServiceService">
          
    <wsdl:port binding="impl:LoopLabelServiceSoapBinding" name="LoopLabelService">
               
      <wsdlsoap:address location="http://localhost:8080/Otracking/services/LoopLabelService"/>
            
    </wsdl:port>
       
  </wsdl:service>
  
</wsdl:definitions>
