WebContent/wsdl/ShipMOService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.otracking.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.otracking.com" xmlns:intf="http://webservice.otracking.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.otracking.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="ship">
    <complexType>
     <sequence>
      <element name="mo" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="shipResponse">
    <complexType>
     <sequence>
      <element name="shipReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="shipResponse">

      <wsdl:part element="impl:shipResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="shipRequest">

      <wsdl:part element="impl:ship" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ShipMOService">

      <wsdl:operation name="ship">

         <wsdl:input message="impl:shipRequest" name="shipRequest">

       </wsdl:input>

         <wsdl:output message="impl:shipResponse" name="shipResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ShipMOServiceSoapBinding" type="impl:ShipMOService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="ship">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="shipRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="shipResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ShipMOServiceService">

      <wsdl:port binding="impl:ShipMOServiceSoapBinding" name="ShipMOService">

         <wsdlsoap:address location="http://localhost:8080/Otracking/services/ShipMOService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
